@model Employee_CRUD.Models.Employee


@{
    ViewBag.Title = "Edit Employee";
}

<br />
<div class="container body-content">
    <h5>Edit Employee</h5>
</div>
<form method="post">
    <br />
    <div class="container mt-3">
        <table class="table">
            <tr>
                <th>@Html.LabelFor(n => n.name)</th>
                <td>@Html.TextBoxFor(n => n.name, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(n => n.name)</td>
            </tr>

            <tr>
                <th>@Html.LabelFor(n => n.national_id)</th>
                <td>@Html.TextBoxFor(n => n.national_id, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(n => n.national_id)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>@ViewBag.notExistErrorMsg</td>
            </tr>

            <tr>
                <th>@Html.LabelFor(n => n.phone_number)</th>
                <td>@Html.TextBoxFor(n => n.phone_number, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(n => n.phone_number)</td>
            </tr>


            <tr>
                <th>@Html.LabelFor(n => n.age)</th>
                <td>@Html.EditorFor(n => n.age, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(n => n.age)</td>
            </tr>

            <tr>
                <th>@Html.LabelFor(n => n.salary)</th>
                <td>@Html.TextBoxFor(n => n.salary, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(n => n.salary)</td>
            </tr>

            <tr>
                <th>@Html.CheckBoxFor(n => n.married, new { @class = "form-check-input" }) @Html.LabelFor(n => n.married)</th>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th>@Html.LabelFor(n => n.gov_id)</th>
                <td>@Html.DropDownListFor(n => n.gov_id, (SelectList)ViewBag.govs, new { @class = "form-select form-select-lg" })</td>
                <td>@Html.ValidationMessageFor(n => n.gov_id)</td>
            </tr>

            <tr>
                <th>@Html.LabelFor(n => n.dept_id)</th>
                <td>@Html.DropDownListFor(n => n.dept_id, (SelectList)ViewBag.depts, new { @class = "form-select form-select-lg" })</td>
                <td>@ViewBag.deptErrorMsg</td>
            </tr>

            <tr>
                <th>@Html.LabelFor(n => n.village_id)</th>
                <td>@Html.DropDownListFor(n => n.village_id, (SelectList)ViewBag.villages, new { @class = "form-select form-select-lg" })</td>
                <td>@ViewBag.villageErrorMsg</td>
            </tr>


            <tr>
                <td></td>
                <td><input type="submit" value="Edit" class="btn btn-primary" /></td>
                <td></td>
            </tr>
        </table>
    </div>
</form>
